certifi==2024.8.30 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
charset-normalizer==3.4.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
dnspython==2.7.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
fqdn==1.5.1 ; python_full_version >= "3.12.0" and python_version < "4"
idna==3.10 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
natsort==8.4.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
octodns-cloudflare==0.0.7 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
octodns==1.10.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
python-dateutil==2.9.0.post0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
pyyaml==6.0.2 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
requests==2.32.3 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
urllib3==2.2.3 ; python_full_version >= "3.12.0" and python_full_version < "4.0.0"
